body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.game-container {
  text-align: center;
  background: #ffffffcc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  max-height: 90%;
  width: 500px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scale:80%;
}

h1 {
  font-size: 2em;
  color: #444;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.block {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.block:hover {
  transform: scale(1.05);
}

.block-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empty {
  background-color: #e0e0e0;
  cursor: default;
  box-shadow: none;
}

.winner .block {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.message {
  margin-top: 15px;
  font-size: 1.8em;
  color: #28a745;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

@media(max-width:580px){
  .game-container{
    width:400px;
  }
}

@media (max-width: 480px) {
  .game-container {
    width:350px;
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  .message {
    font-size: 1.2em;
  }

  button {
    padding: 10px 20px;
    font-size: 1em;
  }
}

@media(max-width:410px){
  .game-container{
    width:300px;
  }
}

@media(max-width:360px){
  .game-container{
    width:250px;
  }
}

@media(max-width:300px){
  .game-container{
    width:200px;
  }
}
