*{
    padding:0;
    margin:0;
}

body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items:center;
    background:linear-gradient(135deg,rgb(176, 225, 90),rgb(237, 188, 10));
}

.container{
    width:300px;
    margin:0px auto;
    padding:none;
    height:70vh;
    display:flex;
    flex-direction:column;
    border:2px solid gray;
    align-items:center;
    justify-content:center;
    border-radius:25px;
    background:radial-gradient(rgb(186, 237, 84),green);
}