*{
    padding:0;
    margin:0;
}
html{
  height:100vh;
  overflow:hidden;
}

.container {
    background:linear-gradient(135deg,rgb(168, 199, 73),rgb(63, 131, 96));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-color: #f1f8e9;
    padding: 20px;
  }
  
