.btn{
    width:20%;
    height:12%;
    margin:3% 2%;
    cursor:pointer;
    border:2px solid black;
    border-radius:10px;
    background-color:rgb(207, 203, 203);
    font-size:140%;
    font-weight:550;
    
}

.btn:hover{
    background-color:black;
    color:white;
}

@media (max-width:800px) {
    .btn{
        font-size:90%;
        font-weight:450;
        height:5%;
    }
}