.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff; 
    border: 2px solid #e0f7fa; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media(max-width:360px){
    .container{
        max-width:210px;
    }
}
  